@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');


* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Mulish', sans-serif;
	font-size: 13px;
	margin: 20px;
	font-weight: 400;
	color: #888;
	line-height: 1.6;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0 0 15px;
	color: #000;
	line-height: 1.25;
}

h1 {}

h2 {}

h3 {}

hr {
	margin: 30px 0px;
}

p {
	margin: 0 0 20px;
}

strong {
	color: #000;
}

.toggle {
	display: block;
	font-size: 20px;
}

section {
	margin-bottom: 30px;
}

.popular-list,
.showing-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0 -5px;
	padding: 0;
}

.popular-list {
	flex-direction: column;
}

.item {
	display: flex;
	margin: 0 5px 15px;
	padding: 0px;
}

.showing-list .item {
	flex-direction: column;
	flex: 0 1 150px;
}

.popular-list .item {
	flex-direction: row;
	flex: 0 1 auto;
}

.item img {
	max-width: 100%;
	border-radius: 5px;
	margin-bottom: 10px;
	box-shadow: 0 5px 15px rgba(0,0,0, 0.2);
}

.popular-list .item img {
	width: 100px;
	margin-right: 15px;
}

.item h1 {
	font-size: 14px;
	margin-bottom: 5px;
}

.rating {
	color: rgba(0,0,0,0.54);
	font-size: 12px;
	margin-bottom: 10px;
	display: block;
}

.rating i {
	color: #f5c518;
}

ul.genres {
	display: flex;
	list-style: none;
	margin-bottom: 10px;
}

ul.genres li {
	background: #DBE3FF;
	padding: 4px 12px;
	font-size: 8px;
	text-transform: uppercase;
	border-radius: 100px;
}

.item .runtime {
	font-size: 12px;
}



.content .details {
	display: flex;
	list-style: none;
	margin: 0 -15px;
}

.content .details li {
	margin: 0 15px;
}

.content .details label {
	display: block;
}